<!DOCTYPE html> 
<html> 
    <head> 
    </head>

    <body> 
        <form method="POST" action="/articles">
        Article Title: <input type="text" name="title" id="title"> 
        Article Content: <textarea name="content" id="content"></textarea>
        <br><br>
        <input type="submit" value="submit">      
    </body>

</html>