<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article</title>
    </head>

    <body>
        <h2> Article Title: <%= @article.title %></h2>
        <p> <%= @article.content %> </p>

        <form method="post" action="/articles/<%= @article.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
        </form>
    </body>

</html>